<% comments.each do |comment|  %>
	<span id="author_info" class="alt">
		Submitted by <a href="/user/<%=comment.user_id%>"> <%= comment.user.preferred_name %></a>
		on <%= comment.created_at.strftime("%m/%d/%Y") %>
	</span>
	<div class="span-15">
		<p>
		<%= comment.body %>
		</p>
	</div>
	<hr />
<% end %>
