<% posts.each do |post|  %>
	<div class="span-17">
		<div class="span-2">
			Author: <%= post.user.preferred_name %>
		</div>
		<br />
		<div class="span-8">
			<%=post.post_body %>
		</div>
		<hr>
	</div>
<% end %>
