<% posts.each do |post|  %>
	<div class="span-17">
		<div class="span-10">
			Submitted by <%= post.user.preferred_name %>
			on <%= post.created_at.strftime("%m/%d/%Y") %>
		</div>
		<br />
		<br />
	</div>
	<div class="span-17">
		<%=post.post_body %>
	</div>
	<hr>
<% end %>
