<!DOCTYPE html>
<html>
	<head>
		<title>Pressboxwisdom</title>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/omnisocial.css"/>
		<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"/>
		<link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"/>	
		<!--[if lt IE 8]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection"> 
	</head>
	<body>
		<div class="container">
			<div class="span-24">
				<h1>Pressbox<span class="alt">Wisdom</span></h1>
			</div>
			<hr>
			<div class="span-17 prepend-1 colborder">
				<%= yield %>
			</div>
			<div class="span-5 last">
				<h3>Login</h3>
			</div>
			<hr>
			<div id="footer">
				<div class="span-1 colborder">
					About
				</div>
				<div class="span-1 colborder">
					Faq
				</div>
			</div>
		</div>
	</body>
</html>
